* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 86px;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

@media (min-width: 769px) {
    .header {
        height: 130px;
        padding: 0 70px;
    }
}

.header__logo {
    width: 54px;
    height: 54px;
}

.img__logo {
    width: 54px;
}

@media (min-width: 769px) {
    .header__logo {
        width: 100px;
        height: 100px;
    }

    .img__logo {
        width: 100px;
    }
}

.header__menu {
    display: none;
}

@media (min-width: 769px) {
    .header__menu {
        display: flex;
        width: 430px;
        justify-content: space-between;
    }
}

.menu__link {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 700;
}

.header__icono-menu {
    width: 36px;
}

.icono-menu {
    width: 36px;
}

@media (min-width: 769px) {
    .header__icono-menu {
        display: none;
    }
}

.main {
    width: 100%;
    height: 530px;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 769px) {
    .main {
        width: 100%;
        height: 486px;
        flex-direction: row;
        align-items: flex-end;
        padding: 0 80px;
    }
}

.main__titulo-ppal {
    font-size: 48px;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;
    margin-top: 60px;
    width: 290px;
}

@media (min-width: 769px) {
    .main__titulo-ppal {
        padding-bottom: 200px;
    }
}

.main__foto-mia {
    height: 310px;
}

.main__foto {
    height: 310px;
}

.section-1 {
    width: 100%;
    height: 538px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-1__contenedor {
    width: 312px;
    height: 402px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 769px) {
    .section-1__contenedor {
        display: flex;
        flex-direction: row-reverse;
        width: 822px;
        height: 240px;
    }
}

.section-1__cont-tit-text {
    display: grid;
    gap: 30px;
}

@media (min-width: 769px) {
    .section-1__cont-tit-text {
        max-width: 532px;
        max-height: 240px;
    }
}

.section-1__titulo-secundario {
    font-size: 32px;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;
    color: white;
}

@media (min-width: 769px) {
    .section-1__titulo-secundario {
        padding: 0;
        margin: 0;
        text-align: left;
    }
}

.section-1__texto {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    color: white;
}

@media (min-width: 769px) {
    .section-1__texto {
        padding: 0;
    }
}

.section-1__icono {
    width: 80px;
    height: 80px;
    color: white;
}

@media (min-width: 769px) {
    .section-1__icono {
        width: 200px;
        height: 200px;
        margin: 0;
    }
}

.section-2 {
    width: 100%;
    height: 1375px;
    background-color: white;
}

@media (min-width: 769px) {
    .section-2 {
        width: 100%;
        height: 604px;
        background-color: white;
    }
}

.section-2__titulo-secundario {
    font-size: 32px;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;
    width: 271px;
    color: black;
    margin: 0 auto;
    padding-top: 70px;
}

.section-2__contenedor {
    height: 1144px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 44px;
}

@media (min-width: 769px) {
    .section-2__contenedor {
        height: 312px;
        display: flex;
        flex-direction: row;
        padding: 0 80px;
    }
}

.section-2__subcontenedor {
    width: 271px;
    height: 312px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.contenedor__icono {
    width: 138px;
    height: 138px;
}

.section-2__logos {
    width: 138px;
    height: 138px;
}

.contenedor__subtitulo {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 700;
}

.contenedor__texto {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.section-3 {
    width: 100%;
    height: 660px;
    background-color: black;
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-3__contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 769px) {
    .section-3__contenedor {
        display: flex;
        flex-direction: row;
    }
}

.section-3__titulo-secundario {
    font-size: 32px;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;
    color: white;
    padding-bottom: 20px;
}

@media (min-width: 769px) {
    .section-3__titulo-secundario {
        padding-bottom: 0;
        padding-right: 50px;
    }
}

.section-3__form {
    width: 335px;
    display: grid;
    gap: 25px;
    max-width: 450px;
}

.label {
    display: block;
    font-size: 13px;
    font-family: "Roboto";
    font-weight: 400;
    color: white;
    padding-bottom: 8px;
}

.input-text,
.textarea {
    background-color: #ffffff;
    border: none;
    font-size: 20px;
    font-family: "Roboto";
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
}

.textarea {
    min-height: 115px;
}

.button {
    width: 100%;
    height: 45px;
    border: none;
    background-color: #ffd953;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
    margin-top: 40px;
    padding: 10px;
    border-radius: 4px;
}

.footer {
    width: 100%;
    height: 493px;
    background-color: lightgray;
    padding-left: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media (min-width: 769px) {
    .footer {
        height: 383px;
    }
}

.footer__contenedor {
    height: 383px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media (min-width: 769px) {
    .footer__contenedor {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 140px 0 60px;
        align-items: center;
    }
}

.footer__logo {
    width: 78px;
    height: 78px;
    margin-bottom: 20px;
}

.footer__logo-text {
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 400;
    color: #2c2c2c;
}

.footer__redes {
    display: grid;
    gap: 20px;
}

.contenedor-icono-red {
    display: flex;
    align-items: center;
    margin: 5px;
}

.icono-red {
    width: 27px;
    height: 27px;
}

.red {
    padding-left: 8px;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: black;
}
